nav {
    display: flex;
    justify-content: right;
    gap: 10%;
    padding: 0px 10px 0px;
    font-size: 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000000;
}

.imj-Banner {
    color: black;
    text-align: right;
    padding: 15px 0px;
    border-bottom: solid 5px #FF2F01;
}

.jh-logo {
    width: 50%;
    padding: 0px 10px 0px;
}

@media (max-width: 739px) {
    .imj-Banner {
        text-align: center;
    }

    .jh-logo {
        width: 55%;
    }

    nav {
        justify-content: center;
        gap: 20%;
    }
}

@media (max-width: 366px) {
    .jh-logo {
        width: 65%;
    }
}