.deletePostButton {
    padding: 3px;  
    background-color: white;
    color: rgb(255, 47, 1);
    font-size: 17px;
    font-weight: 700;
    font-family: inherit;
    border: 3px solid rgb(255, 47, 1);
    border-radius: 3px;
    overflow: hidden;
    margin: 0px 4% 0px 0px;
    transition: .3s;
}

.deletePostButton:hover {
    background-color: rgb(296, 88, 42);
    color: white;
    cursor: pointer;
}

.shortText {
    display: none;
}


@media (max-width: 445px) {

    .shortText {
        display: contents;
    }

    .longText {
        display: none;
    }
    
}