.postContainer {
    background-color: #FCD7D4;
    display: flex;
    flex-direction: column;
}

.dashboardTitle {
    margin: 0px 20px;
    padding: 0px;
}

ul {
    justify-items: center;
    padding: 0px;
}

li {
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style-type: none;
    width: 90%;
    border-radius: 15px;
    margin: 40px auto;
    padding: 10px 0px;
    outline: 3.5px outset;

    .postTitle {
        margin: 10px auto 10px 18px;
        font-size: 22px;
        transition: .2s;
    }
    
    .postTitle:hover {
        color: #FF2F01;
    }

    .postMessage {
        width: 90%;
        margin: 0px auto 15px;
    }

    .postMedia {
        width: 60%;
        margin: 0px auto 0px 20%;
        border-radius: 5px;
    }

    .postModification{
        margin: 0px auto;
        flex-direction: column;
        width: 95%;
    }
}

.abc {
    background-color: gray;
}