#signup {
    margin: 20px 0px;
    border-bottom: solid 5px #FF2F01;
    background-color: #FCD7D4;
    padding: 0px 15px 10px;
}

.signupTitle {
    padding: 10px 0px 0px;
    font-size: 25px;
    margin: 0px
}

label {
    font-weight: 600;
}

.submitError {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    align-items: center;
}

#signupButton {
    background-color: white;
    padding: 3px 6px;
    border-radius: 3px;
    border-width: 2px;
    font-size: 17px;
    transition: .3s;
}

#signupButton:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.requiredField {
    color: #FF2F01;
    font-weight: 700;
}