#signup {
    margin-top: 20px;
    border-bottom: solid 5px #FF2F01;
    background-color: #FCD7D4;
    padding: 0px 15px 10px;
}

h1 {
    padding: 10px 0px 0px;
}

label {
    font-weight: 600;
}

.submitError {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    align-items: center;
}

span {
    color: #FF2F01;
    font-weight: 700;
}