#signup {
    margin-top: 20px;
    border-bottom: solid 5px rgb(140, 0, 0);
    background-color: rgba(140, 0, 0, 0.183);
    padding: 0px 15px 10px;
}

h1 {
    padding: 10px 0px 0px;
}

label {
    font-weight: 600;
}